/* Style global */

@font-face {
    font-family: 'ClassicoURW';
    src: url('fonts/classico-urw.otf') format(opentype);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ClassicoURW-Medium';
    src: url('fonts/classico-urw-urw-classico-med.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ClassicoURW-Italic';
    src: url('fonts/classico-urw-regular-italic.otf') format(opentype);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'ClassicoURW-Thin';
    src: url('fonts/classico-urw-condensed-t-urw-cl.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'ClassicoURW-Bold';
    src: url('fonts/classico-urw-bold.otf') format(opentype);
    font-weight: bold;
}
@font-face {
    font-family: 'ClassicoURW-BoldItalic';
    src: url('fonts/classico-urw-bold-italic.otf') format(opentype);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Didot';
    src: url('fonts/Didot.ttc');
    font-weight: normal;
}
@font-face {
    font-family: 'NewBerolina';
    src: url('fonts/NewBerolinaMTStd.ttf') format(opentype);
}
@font-face {
    font-family: 'Span-SemiBold';
    src: url('fonts/Fontspring-span-semibold.otf') format(opentype);
}
@font-face {
    font-family: 'Span-Regular';
    src: url(Fontspring-span-regular.otf) format(opentype);
}

body {
    margin: 0;
    font-family: 'ClassicoURW';
    background-color: rgb(106, 83, 78);
    color: rgb(0, 0, 0);
    width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 770px) {
    body {
    max-width: 600px;
    }
}

h1 {
    font-family: 'ClassicoURW-Bold';
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'ClassicoURW-Medium';
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}

h3 {
    font-family: 'ClassicoURW-Medium';
    text-transform: uppercase;
    color: white;
    font-size: 22px;
}

h4 {
    font-family: 'NewBerolina';
    color: white;
    font-size: 20px;
}

h5 {
    font-family: 'ClassicoURW';
    color: black;
    font-size: 20px;
}

h6 {
    font-family: "ClassicoURW";
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-family: "ClassicoURW";
    color: black;
    font-size: 20px;
    text-align: justify;
}






/* EN TÊTE*/
/* Bannière */
/* ----- ANIMATION BANNIÈRE ----- */
@keyframes fadeInFromSmall {
    from {
        opacity: 0;
        transform: scale(0.7); /* L'image commence plus petite */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Elle atteint sa taille normale */
    }
}

.banner {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0;
    animation: fadeInFromSmall 1.5s ease-out;
    margin: 0;
}

.banner img {
    max-width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.banderol-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -90px;
}

.banderol-img img {
    height: 250px;
    object-fit: contain;
    padding-top: 0;
}

















/* MENU */

/* En-tête */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Bouton menu burger */
.menu-toggle {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    left: 30px; 
    z-index: 1000; 
    color: white;
    transition: transform 0.2s ease-in-out;
    margin: 0;
}
.menu-toggle:hover {
    transform: scale(1.2); 
}

/* Sidebar (menu latéral) */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 15%;
    height: 100%;
    background: rgb(106, 83, 78);
    z-index: 1000;
    overflow-y: auto; 
    transition: left 1s ease-in-out;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

/* Responsive pour mobile */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 50%;
    }
}

/* Lorsque le menu est ouvert */
.sidebar.active {
    left: 0;
}

/* Bouton de fermeture */
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Style de la liste du menu */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 2;
    font-size: 16px;
}

.sidebar a:hover {
    color: rgb(173, 154, 87);
}

/* Sous-menu */
/* Style du dropdown */
.dropdown {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 1.8s ease-out;
}

/* Style lorsque le menu est activé (déroulé) */
.dropdown.active {
    max-height: 300px; /* Ouverture du menu */
}

.dropdown.active .submenu {
    max-height: 300px; /* Ajuste selon la hauteur réelle du menu */
}

.dropdown .submenu {
    margin-top: 5px; /* Ajuste l'espace entre le titre et le sous-menu */
}

/* Flèche "V" à droite de "Les Soins" */
.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow {
    color: white;
    cursor: pointer;
    margin-left: 129px;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
    margin-bottom: 0;
    transition: transform 0.3s ease-in-out !important;
    display: inline-block; 
}

/* Responsive pour mobile */
@media screen and (max-width: 770px) {
    .arrow {
        margin-left: 110px;
    }
}

.arrow.rotate {
    transform: rotate(180deg);
}

.arrow:hover {
    color: rgb(193, 174, 107);
}

/* Sous-menu caché par défaut */
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    margin-left: 25px; 
    margin-top: 0px; 
}
.submenu li {
    margin: 5px 0;
    padding: 0;
}

/* Responsive pour mobile */
@media screen and (max-width: 770px) {
    .submenu li a {
        font-size: 15px;
    }
}

/* Affichage du sous-menu quand actif */
.dropdown.active .submenu {
    display: block;
}

.method-logo2 {
    display: block; 
    margin: 20px auto; 
    max-width: 80%; 
    height: auto; 
}









/* PIED DE PAGE */

/* Conteneur principal du footer */
.footer {
    background-color: rgb(106, 83, 78); 
    padding-top: 5px; 
    padding-bottom: 5px;
    text-align: center;
    position: relative;
}

/* Conteneur pour organiser les éléments */
.footer-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 5px;
}

/* Logo au-dessus */
.logo-pied img {
    max-width: 80px; 
    height: auto; 
    margin-bottom: 0;
    padding: 0;
}

/* Lien Mentions légales */
.mentions-legales a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: -50px;
    margin-bottom: 5px;
}

.mentions-legales a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .footer {
        padding-top: 4px; 
        padding-bottom: 4px;
    }

    .logo-pied img {
        max-width: 64px; /* Réduction de 20% */
    }

    .mentions-legales a {
        font-size: 12.8px; /* Réduction de 20% */
        margin-top: -40px; /* Ajustement */
        margin-bottom: 4px;
    }
}

















/* PAGE 1 : ACCUEIL */

    /* IMAGES */
/* Conteneur de la galerie */
.image-gallery {
    display: flex;
    justify-content: center; 
    width: 100%; 
    height: 240px;
    background-color: rgb(106, 83, 78); 
    padding: 0; 
    margin: 0 auto; 
    overflow: hidden; 
}

/* Élément de chaque image */
.gallery-item {
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    padding: 0; 
    margin: 0; 
    opacity: 0; 
    transform: scale(1.2); 
    animation: appear 1.5s ease-out forwards; 
}

/* Animation d'apparition */
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.8); 
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
    transition: transform 0.3s ease;
    will-change: transform;
}
.gallery-item img:hover {
    transform: scale(1.1); 
}

















/* PAGE 2 : A PROPOS D'EVA */

/* Style général de la section */
.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    background-color: rgb(106, 83, 78);
    position: relative;
}

/* Logo positionné à gauche */
.logo-container {
    position: absolute;
    transform: translateY(-50%) rotate(270deg); 
    margin: 0;
    padding: 0;
    margin-left: -87px;
    margin-top: 110px;
}

.logo-soleil-blanc {
    height: 450px; 
    width: auto;
    padding: 0;
    margin: 0;
}

/* Style du texte à gauche */
.left-title {
    font-size: 30px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom: px;
    padding: 0;
}

.left-title h2 {
    padding: 0;
    margin: 0;
    letter-spacing: 10px;
    margin-right: 90px;
}

.left-title h3 {
    font-size: clamp(60px, 8vw, 120px);
    padding: 0;
    margin: 0;
    margin-top: -60px;
    text-align: right;
    margin-right: 50px;
    letter-spacing: 5px;
    font-family: 'Didot';
}

.left-text {
    background-color: rgb(193, 174, 107);
    width: 100%;
    flex: 1;
    z-index: 1;
}

.left-text p {
    line-height: 1.2;
    font-size: 14px;
    color: black;
    font-family: 'ClassicoURW-Medium';
    padding: 10px;
    margin-left: 140px;
    margin-right: 20px;
}

/* Conteneur pour l'image */
.portrait-image {
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 0;
    max-width: 40%;
    height: 100vh; 
    overflow: hidden; 
}

/* Style de l'image */
.portrait-image img {
    width: auto; 
    height: 100%; 
    object-fit: cover; 
    margin: 0;
    padding: 0;
}


/* Conteneur principal de la citation */
.quote-container {
    display: flex;
    position: relative;
    justify-content: right; 
    align-items: right;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: 40px;
}

/* Guillemets stylisés */
.guillemet {
    font-size: 80px;
    display: block;
    padding: 0;
    margin-bottom: 0;
}

.guillemet-fin {
    transform: scaleX(-1);
    display: block;
    margin-top: 45px;
    margin-left: -30px;
    position: absolute;
}

.guillemets-ouvert {
    display: block;
    position: absolute;
    margin-left: -40px;
    margin-top: -120px;
}

/* Mise en valeur des mots dorés */
.highlight {
    font-style: italic;
    font-weight: bold;
    color: rgb(193, 174, 107);
}













/* PAGE 3 : LES  SOINS */

/* Conteneur principal */
.soins-container {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(106, 83, 78);
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Contenu principal */
.soins-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Image ovale */
.soins-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    width: 500px;
    height: 600px; 
    border: 8px solid rgb(193, 174, 107);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-left: 30px;
    background-color: rgb(193, 174, 107);
}

/* Images haut et bas */
.image-top,
.image-bottom {
    height: calc(50% - 4px);
    width: 100%;
}

.image-top img,
.image-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ligne de séparation */
.image-divider {
    height: 8px; 
    width: 100%;
    background-color: rgb(193, 174, 107);
}

@media screen and (max-width: 600px) {
    .soins-images {
        visibility: hidden;
    }
}

/* Liens centraux */
.soins-links {
    margin-left: 140px;
}

.titre-section-container {
    display: flex;
    flex-direction: column; /* Aligner les éléments en colonne */
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement (si nécessaire) */
    text-align: center;
    width: 100%;
}

.soins-title {
    font-size: 40px;
    color: white;
    margin-left: -10px;
    text-transform: uppercase;
}

.title1-container,
.title2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    width: 100%; 
    flex-wrap: nowrap;
}


.section-link {
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.section-link :hover {
    color: rgb(193, 174, 107);
}
.title1-container p,
.title2-container p {
    font-size: 20px;
    color: white;
    white-space: nowrap;
}

.logo-titre {
    width: 70px; /* Ajuste la taille si besoin */
    height: auto;
}

/* Responsive */
@media screen and (max-width: 700px) {
    .titre-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .title1-container,
    .title2-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
        width: 100%;
    }

    .title1-container p,
    .title2-container p {
        font-size: 18px;
        white-space: nowrap;
        text-align: center;
        flex-grow: 0;
    }

    .logo-titre {
        width: 30px;
    }

    .soins-links {
        margin-left: 70px;
        margin-top: -300px;
        margin-bottom: 0px;
    }
}




/* Logo soleil */
.soins-logo {
    transform: rotate(270deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    padding: 0;
    margin-right: -115px;
}

.soins-logo img {
    width: 400px;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}

/* Responsive pour mobile */
@media screen and (max-width: 770px) {
    .soins-logo {
        visibility: hidden;
    }
}















/* PAGE 3-1 / 3-2 / 3-3 V2 : LES SOINS FACIALISTES - LE COPRS - LES COURS*/

.titre-soins {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin: 0;
}

.sous-titre-soins {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(173, 154, 87);
    margin: 20px;
}

.botox {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(173, 154, 87);
    margin: 20px;
}

.explain-cours {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    margin: 20px;
    padding-left: 110px;
    padding-right: 110px;
    line-height: 1.6;
}

.explain-femme {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    margin: 20px;
    padding-left: 210px;
    padding-right: 210px;
    line-height: 1.6;
}


@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    .titre-soins {
        font-size: 25px;
        padding: 10px;
    }

    .sous-titre-soins,
    .botox,
    .explain-cours,
    .explain-femme {
        font-size: 15px; 
        padding: 10px; 
        margin: 10px;
    }

    .explain-cours,
    .explain-femme {
        padding-left: 10px; 
        padding-right: 10px;
    }
}


/* Ajout de l'animation aux titres */
.titre-soins,
.sous-titre-soins,
.explain-cours,
.explain-femme,
.botox {
    opacity: 0; /* Cache les éléments avant l'animation */
    animation: slideFromTop 1s ease-out forwards;
}

/* Délais pour un effet progressif */
.titre-soins {
    animation-delay: 0.2s;
}

.sous-titre-soins {
    animation-delay: 0.5s;
}

.explain-cours,
.explain-femme {
    animation-delay: 0.8s;
}

.botox {
    animation-delay: 1s;
}


/* Style global */
.bloc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mise en page des blocs */
.bloc {
    width: 400px;
    margin: 20px;
    background-color: rgb(193, 174, 107); 
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    height: 120px; 
    overflow: hidden; 
    opacity: 0;
    transform: translateY(50px); 
    animation: fadeInUp 1s ease-out forwards; 
    transition: transform 1.2s ease, box-shadow 1.2s ease;
}

/* Délai en cascade pour chaque bloc */
.bloc:nth-child(1) { animation-delay: 0.2s; }
.bloc:nth-child(2) { animation-delay: 0.4s; }
.bloc:nth-child(3) { animation-delay: 0.6s; }
.bloc:nth-child(4) { animation-delay: 0.8s; }
.bloc:nth-child(5) { animation-delay: 1s; }

/* Effet au survol */
.bloc-container:has(.bloc:hover) .bloc:hover {
    transform: scale(1.05) !important;
}

/* Logo dans le bloc */
.logo-soleil-bloc {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 80px;
}

/* Flèche indiquant l'extension du bloc */
.fleche {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Titre du bloc */
.titre-offre,
.titre-offre-better {
    position: relative;
    font-size: 18px;
    margin: 0; 
    padding-top: 10px;
    color: white;  
    padding-bottom: 0;
    text-transform: uppercase;
    display: inline-block;
}

.titre-offre-better {
    margin-bottom: 45px;
}

/* Ligne de soulignement animée */
.titre-offre::after,
.titre-offre-better::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: rgb(106, 83, 78);
    transition: width 0.3s ease, left 0.3s ease;
}
/* Apparition du soulignement au hover du bloc */
.bloc:hover .titre-offre::after {
    width: 100%;
    left: 0;
}
.bloc:hover .titre-offre-better::after {
    width: 100%;
    left: 0;
}

.sous-titre-offre {
    font-size: 16px;
    color: rgb(106, 83, 78);
    margin: 0;
    margin-top: 10px;
    padding-bottom: 0;
    text-transform: uppercase;
}

/* Description et autres informations */
.contenu-bloc {
    display: none;
    color: white;
}

.description {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: justify;
    font-family: 'ClassicoURW-Italic';
}

.description-face {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 30px;
    margin-bottom: 33.5px;
    text-align: justify;
    font-family: 'ClassicoURW-Italic';
}

.description-better {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 0px;
    text-align: justify;
    font-family: 'ClassicoURW-Italic';
}

.description-yoga {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 34px;
    text-align: justify;
    font-family: 'ClassicoURW-Italic';
}

.massage {
    font-family: 'ClassicoURW-Medium';
    text-transform: uppercase;
    color: rgb(106, 83, 78);
}
.description-better-expert {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 30px;
    margin-bottom: 3px;
    text-align: center;
    font-family: 'ClassicoURW-Medium';
    text-transform: uppercase;
    color: rgb(106, 83, 78);
}

.duree-prix {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;

}

.duree, .prix {
    color: rgb(106, 83, 78);
    font-size: 15px;
    font-family: 'ClassicoURW-Bold';
    margin-top: 40px;
    margin-bottom: 50px;
}

/* Le bouton de réservation */
.reservation-btn {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.reservation-btn button {
    background-color: rgb(121, 95, 90);
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 30px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.reservation-btn button:hover {
    background-color: rgb(106, 83, 78);
    transform: scale(1.05);
}


/* Effet d'agrandissement du bloc */
.bloc.ouvert {
    height: auto; 
}

/* Le logo se déplace avec le bloc */
.bloc.ouvert .logo-soleil-bloc {
    bottom: 45px;
}

/* Affichage du contenu du bloc quand il est ouvert */
.bloc.ouvert .contenu-bloc {
    display: block; 
}

/* Flèche qui tourne quand le bloc est ouvert */
.bloc.ouvert .fleche {
    transform: translateX(-50%) rotate(180deg); 
}

@media screen and (max-width: 600px) {
    /* Réduction de la taille des blocs */
    .bloc {
        width: 340px; 
        height: 102px; 
        padding: 17px; 
    }

    /* Réduction de la taille du texte */
    .titre-offre,
    .titre-offre-better {
        font-size: 13px; 
        margin-bottom: 0px;
    }

    .sous-titre-offre {
        font-size: 11px;
    }

    .description,
    .description-face,
    .description-better,
    .description-yoga,
    .description-better-expert {
        font-size: 10px; /* Réduction de 5px */
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .duree,
    .prix {
        font-size: 10px; /* Réduction de 5px */
        margin-bottom: 20px;
        margin-top: 0;
    }

    /* Ajustement du bouton de réservation */
    .reservation-btn button {
        font-size: 10px; /* Réduction de 5px */
        padding: 12px 30px; /* Ajustement proportionnel */
    }
    .reservation-btn {
        margin-bottom: 15px; /* Uniformisation */
    }

    /* Réduction de la taille du logo */
    .logo-soleil-bloc {
        width: 68px;
    }

    /* Ajustement de la flèche */
    .fleche {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid white;
    }

    .duree-prix {
        margin-bottom: 15px;
        margin-top: 0px;
    }
}






















/* PAGE 4 : RESERVATION */

.selection {
    text-align: center;
}

.bloc-soin-selectionne {
    margin: 20px auto;
    text-align: center;
}

.soin-details {
    background-color: rgb(193, 174, 107);
    position: relative;
    padding: 15px;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soin-details .supprimer-soin {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.soin-details .supprimer-soin:hover {
    color: rgba(255, 255, 255, 0.7);
}

.hidden {
    display: none;
}

#soins-selectionnes {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacement entre les soins */
    align-items: center;
}
#soins-selectionnes:empty {
    display: none;
}
#liste-soins {
    display: block;
}

#liste-soins.visible {
    display: block;
}


.soin-details .soin-nom {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'ClassicoURW-Bold';
}

.soin-details .details-bas {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 16px;
    font-family: 'ClassicoURW-Medium';
    color: rgb(106, 83, 78);
}

.ajouter-soin {
    background-color: rgb(193, 174, 107);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}

.ajouter-soin:hover {
    transform: scale(1.05);
}

.hidden {
    display: none !important;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.close-btn:hover {
    color: black;
}

/* Conteneur principal */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* Bloc calendrier */
#calendar-container {
    width: 70%; /* Modifié à 70% */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px auto;
    justify-content: center;

}

/* Conteneur des mois */
#month-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#month-controls button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

#month-controls button:hover {
    color: rgb(193, 174, 107);
}

/* Affichage du mois */
#month-name {
    text-transform: uppercase;
    color: rgb(173, 154, 87);
    font-size: 30px;
    margin: 0 20px;
    font-weight: bold;
}

/* Conteneur du calendrier */
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin-top: 20px;
}

/* Affichage des jours de la semaine */
.day-header {
    font-weight: bold;
    text-align: center;
    color: rgb(173, 154, 87);
    padding: 10px;
}

/* Boutons des jours */
.day-button {
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

/* Réduire encore la taille des cases du samedi et dimanche */
.day-button.saturday, .day-button.sunday {
    font-size: 10px;
    padding: 8px;
}

/* Effet au survol */
.day-button:hover {
    background-color: rgb(173, 154, 87);
    border: rgb(173, 154, 87);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.day-button.selected {
    background-color: rgb(173, 154, 87);
    border: rgb(173, 154, 87);
    color: white;
}

/* Style pour les jours non cliquables (samedi et dimanche) */
.day-button.non-clickable {
    background-color: #f0f0f0;
    color: #d3d3d3;
    cursor: not-allowed;
}

/* Spécifique aux samedi et dimanche pour ajuster la taille */
.day-button.saturday.non-clickable, .day-button.sunday.non-clickable {
    background-color: #f0f0f0;
    color: #d3d3d3;
    cursor: not-allowed;
}

/* Bloc créneaux */
#slots {
    width: 100%; 
    text-align: center;
    align-items: center;
    display: flex;
    place-items: center;
    gap: 10px;
    padding: 15px;
    margin-left: -15px;
}

.slot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px; 
    max-width: 320px; 
    margin: 0 auto; 
}

/* Boutons des créneaux */
.slot {
    flex: 1 1 120px; /* Ajustement pour qu'ils s'adaptent */
    padding: 12px;
    font-size: 14px;
    border-radius: 14px;
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    width: 100%;
    border: 1px solid rgb(106, 83, 78);
}
.titre-creneau {
    margin-bottom: 20px;
}

.slot:hover {
    background-color: rgb(173, 154, 87);
    border: 1px solid rgb(173, 154, 87);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.slot.selected {
    background-color: rgb(173, 154, 87);
    border: 1px solid rgb(173, 154, 87);
    color: white;
}
/* Créneau réservé */
.reservedSlots {
    background-color: #f0f0f0;
    color: #d3d3d3;
    cursor: not-allowed;
}

.slot.reserved {
    background-color: #f0f0f0;
    color: #d3d3d3;
    cursor: not-allowed;
    pointer-events: none; 
}

.slot.reserved:disabled {
    cursor: not-allowed;
}

/* Bouton "Réserver" */
#reserve-button {
    padding: 10px 20px;
    background-color: #d3d3d3;
    color: white;
    border: none;
    cursor: not-allowed;
    font-size: 16px;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    width: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}

#reserve-button.active {
    background-color: rgb(193, 174, 107);
    cursor: pointer;
}

#reserve-button.active:hover {
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.3); 
}

#reserve-button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .soin-details, #calendar-container, .slot-container {
        width: 80%; /* Réduction de la taille des blocs */
    }

    .soin-details {
        padding: 12px;
        border-radius: 8px;
    }

    .soin-details .soin-nom {
        font-size: 14px;
    }

    .soin-details .details-bas {
        font-size: 12px;
        width: 80%;
    }

    .ajouter-soin {
        font-size: 10px;
        padding: 10px 24px;
        border-radius: 24px;
    }

    #main-container {
        gap: 30px;
    }

    #calendar-container {
        width: 80%;
        padding: 16px;
    }

    #month-name {
        font-size: 24px;
    }

    .day-button {
        padding: 12px;
        font-size: 10px;
        border-radius: 12px;
    }

    .slot-container {
        width: 250px; 
    }

    .slot {
        font-size: 12px; 
        padding: 10px; 
        border-radius: 14px; 
    }

    #reserve-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
















/* PAGE FORMULAIRE */

/* Conteneur du formulaire */
.form-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: rgb(106, 83, 78);
    color: white;
}

/* Style des blocs */
.bloc1 {
    width: 70%;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 50px;
}

.bloc2 {
    width: 30%;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 50px;
    align-self: center; 
}

.bloc2 h6 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: white;
    align-items: center;
}

.line {
    margin-bottom: 15px;
}

/* Titres des sections */
.titleform {
    text-align: center; 
    margin-top: 5px;
    margin-bottom: 60px;
}

/* Labels des champs */
label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* Champs de formulaire (input, select, textarea) */
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

textarea {
    height: 80px;
    resize: none;
}

input[type="tel"] {
    width: 50%; 
}
input[type="text"] {
    width: 90%; 
}

/* Style du menu déroulant pour l'indicatif téléphonique */
.indicatif {
    width: 70px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 20px;
}

/* Espace entre le menu déroulant et le champ numéro */
.indicator-number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Séparateurs */
.separator {
    border: 0.8px solid rgb(193, 174, 107);
    margin: 10px auto;
    width: 70%;
}

/* Bouton Confirmer */
.btn-confirm {
    padding: 10px 20px;
    background-color: rgb(193, 174, 107);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'AudreyFontMedium';
    font-size: 10px;
    display: block;
    margin: 0 auto; 
    font-size: 103%; 
}

/* Effet de survol du bouton */
.btn-confirm:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Lorsque le bouton est désactivé */
.btn-confirm:disabled {
    cursor: not-allowed; 
    background-color: #ccc; 
    color: #666; 
}

/* Quand le bouton est actif, il garde son apparence avec l'effet */
.btn-confirm.active {
    cursor: pointer; 
    background-color: rgb(193, 174, 107); 
    color: white; 
}

/* Détail de la réservation */
.date,
.soin,
.prixdetail,
.lieu {
    text-align: center;
}

#date-value, #soin-value, #prix-detail-value, #location-value, #total-prix-value {
    color: white;
    font-size: 15px;
    margin-top: 0px;
}
#date-value {
    text-transform: uppercase;
}

.engagement {
    font-size: 15px;
    font-family: 'ClassicoURW-Italic';
    text-align: justify;
    color: white;
}

#paiement {
    font-size: 15px;
    font-family: 'ClassicoURW-Italic';
    text-align: justify;
    color: white;
    margin-top: -10px;
}

.soin-supp, .prix-supp {
    color: white;
    font-size: 15px;
    margin-bottom: 3px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .form-container {
        flex-direction: column; /* Passe en colonne */
        align-items: center;
    }

    .bloc1, .bloc2 {
        text-align: center;
        width: 80%;
    }
    .bloc1 h2, .bloc2 h2 {
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: 0px;
    }
    .bloc2 h6 {
        font-size: 16px;
    }
    .bloc2 p {
        font-size: 12px;
        margin-bottom: 20px;
        margin-top: 20px;
    }


    .line {
        flex-direction: column;
    }

    /* Uniformiser la largeur des champs */
    input[type="text"], 
    input[type="email"], 
    textarea {
        width: 100%; 
        max-width: 500px;
        padding-left: 8px;
        padding-right: 8px;
    }

    textarea {
        margin-bottom: 0px;
    }

    input[type="tel"] {
        width: 100%; 
        max-width: 500px; 
        padding-left: 8px;
        padding-right: 8px;
    }

    /* Ajuster la largeur de l'indicatif téléphonique et aligner le numéro */
    .indicator-number {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .indicatif {
        width: 30%;
        max-width: 70px;
    }

    #date-value, #soin-value, #prix-detail-value, #location-value, #total-prix-value,
    .engagement, #paiement, .soin-supp, .prix-supp {
        font-size: 12px; /* Réduit de 3px */
    }
}










  /* PAGE VALIDATION */
/* Style pour la page de confirmation */
.confirmation-container {
    text-align: center;
    padding: 50px 20px;  /* Espace autour du contenu */ 
    background-color: rgb(106, 83, 78);
}

.confirmation-title {
    font-size: 40px;
}

.confiance-text {
    text-align: center;
    text-transform: uppercase;
    color: rgb(173, 154, 87);
}
.mail-text {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.empechement-text {
    text-align: center;
    color: rgb(193, 174, 107);

}
/* LOGO SOLEIL */
.logo-soleil-validation img {
    width: 200px;
    height: auto;
}

/* BOUTON ACCUEIL */

.button-index-container {
    padding-top: 30px;
}



.back-button {
    background-color: rgb(173, 154, 87);
    color: white;
    padding: 10px 20px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
    transform: scale(1.05) translateY(-1px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    .confirmation-title {
        font-size: 30px; /* Réduit de 5px */
        white-space: nowrap; /* Empêche le retour à la ligne */
    }

    .confiance-text, 
    .mail-text, 
    .empechement-text {
        font-size: 14px; /* Réduit de 5px */
        padding: 5px;
    }
    .back-button {
        font-size: 12px; /* Réduit de 5px */
        padding: 8px;
    }
}



















    /* PAGE 6 CONTACT */
/* Conteneur principal */
#contact-general-container {
    background-color: rgb(106, 83, 78); /* Couleur de fond */
    text-align: center; /* Centre tous les éléments */
    align-items: center;
    padding: 50px 20px;
}

/* Titres et paragraphes */ 
#contact-general-container p {
    color: white;
    text-align: center;
}

#contact-general-container h2, 
#contact-general-container h6 {
    color: rgb(173, 154, 87)
}
#contact-general-container h2 {
    font-size: 45px;
}
#contact-general-container h6 {
    font-size: 30px;
}

/* Conteneurs de texte */
#contact-titre-container, 
#contact-text-container, 
.contact-item {
    margin-bottom: 60px;
}

/* Lien email */
.contact-item a {
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

/* Effet de soulignement qui apparaît du centre et s’étire */
.contact-item a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: rgb(173, 154, 87);
    transition: width 0.3s ease, left 0.3s ease;
}

/* Effet au survol */
.contact-item a:hover::after {
    width: 100%;
    left: 0;
}

@media screen and (max-width: 600px) {
    #contact-general-container {
        padding: 10px; 
    }

    #contact-general-container h2 {
        font-size: 30px; 
        white-space: nowrap; 
    }

    #contact-general-container h6 {
        font-size: 20px; 
        white-space: nowrap;
    }

    #contact-general-container p,
    .contact-item a {
        font-size: 14px; 
        white-space: nowrap;
    }

    #contact-titre-container, 
    #contact-text-container, 
    .contact-item {
        margin-bottom: 40px; 
        margin-left: 0;
    }
}




















/* PAGE MENTIONS LÉGALES */

.mentions-container {
    text-align: center;
}

.mentions-container p {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    font-size: 17px;
}

.mentions-container h6{
    font-size: 28px;
    font-family: 'ClassicoURW-Bold';
}

.mentions-container h3{
    color: rgb(173, 154, 87);
    font-size: 20px;
}

.bold {
    font-family: 'ClassicoURW-Bold';
}

.italic{
    font-family: 'ClassicoURW-Italic';
    font-size: 12px;
}
